@model Webtt.Models.UserRegistrationModel
@{ ViewData["Title"] = "Đăng ký"; }

<html>
<head>
    <title>Đăng ký</title>
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <img class="wave" src="~/img/wave.png">
    <div class="container" style="grid-template-columns: repeat(3, 1fr);">
        <div class="img">
            <img src="~/img/bg.svg">
        </div>
        <div class="login-content">
            <form asp-action="Register" asp-controller="Account" method="post">
                <h2 class="title">Register</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <input asp-for="FullName" class="form-control" placeholder="Full Name" autocomplete="off">
                    </div>
                </div>
                <span asp-validation-for="FullName" class="text-danger" style="color: red"></span>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <input asp-for="Email" class="form-control" placeholder="Email" autocomplete="off">
                    </div>
                </div>
                <span asp-validation-for="Email" class="text-danger" style="color: red"></span>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <input asp-for="Password" class="form-control" placeholder="Password" autocomplete="off">
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger" style="color: red"></span>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" autocomplete="off">
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger" style="color: red"></span>
                <span class="text-danger" style="color: red">@Html.ValidationMessage("Register")</span>
                <a asp-action="Login">Back to Login</a>
                <input type="submit" id="submit" class="btn" value="Register">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
@section Scripts {
    @{await
            Html.RenderPartialAsync("_ValidationScriptsPartial");}
}