@using Microsoft.AspNetCore.Identity
@using Webtt.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Admin" asp-controller="HomeAd" asp-action="Index" title="Welcome">Welcome @User.Identity.Name!</a>
            </li>
        }
    }
</ul>

