@model Webtt.Models.ProductModels

@{ ViewData["Title"] = "Thêm sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }


<div class="container">
    <h1 class="add">Thêm sản phẩm</h1>
    <hr />
    <form asp-action="Add" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-4">
                <label class="label-form" style="font-weight:bold">Tên sản phẩm</label>
            </div>
            <div class="col-md-8">
                <input asp-for="ProductName" class="input-form" type="text" placeholder="Nhập tên sản phẩm">
                <span asp-validation-for="ProductName" class="text-danger" style="color:red"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="label-form" style="font-weight:bold">Hình ảnh</label>
            </div>
            <div class="col-md-8">
                <input asp-for="ItemImage" class="input-form" id="customFile" type="file">
                <span asp-validation-for="ItemImage" class="text-danger" style="color:red"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="label-form" style="font-weight:bold">Mô tả</label>
            </div>
            <div class="col-md-8">
                <input asp-for="Description" class="input-form" type="text" placeholder="Nhập mô tả">
                <span asp-validation-for="Description" class="text-danger" style="color:red"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="label-form" style="font-weight:bold">Giá</label>
            </div>
            <div class="col-md-8">
                <input asp-for="ProductPrice" class="input-form" type="number" placeholder="Nhập giá">
                <span asp-validation-for="ProductPrice" class="text-danger" style="color:red"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="label-form" style="font-weight:bold">Danh mục</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownListFor(m => m.CategoryId, (SelectList)ViewBag.Categories, "Chọn danh mục", new { @class = "select-form" })
                <span asp-validation-for="CategoryId" class="text-danger" style="color:red"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <input class="submit-form" type="submit" value="Thêm">
        </div>
    </form>
    <div class="back">
        <a class="button-back" asp-action="Index" style="width:75px">Trở về</a>
    </div>
</div>


