@model Webtt.Models.ProductModels

@{ ViewData["Title"] = "Xóa sản phẩm";
                Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<div class="container">
    <h1 class="add">Xóa sản phẩm</h1>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-md-4">
                <label class="label-form" style="font-weight:bold">Tên sản phẩm</label>
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(model => model.ProductName)
            </div>
        </div>
        <div class="row">
                <div class="col-md-4">
                    <label class="label-form" style="font-weight:bold">Hình ảnh</label>
                </div>
                <div class="col-md-8">
                    <img src="~/img/@Html.DisplayFor(model => model.ExistingImage)" class="img-thumbnail" style="width:150px;height:150px" />
                </div>
            </div>
        <div class="row">
            <div class="col-md-4">
                <label class="label-form" style="font-weight:bold">Mô tả</label>
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="label-form" style="font-weight:bold">Giá</label>
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(model => model.ProductPrice)
            </div>
        </div>
        <div class="row">
                <div class="col-md-4" style="font-weight:bold">
                    <label class="label-form">Danh mục</label>
                </div>
                <div class="col-md-8">
                    @ViewBag.CategoryName
                </div>
            </div>
        <br />
        <div class="row">
            <input class="submit-form" type="submit" value="Xóa">
        </div>
    </form>
    <div class="back">
        <a class="button-back" asp-action="Index">Trở về</a>
    </div>
</div>
