@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model Webtt.Models.changePasswordModel

<div class="container">
    <h1 class="add">Đổi mật khẩu</h1>
    <hr />
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <label class="label-form" style="font-weight:bold">Mật khẩu cũ</label>
            </div>
            <div class="col-md-8">
                <input asp-for="oldPassword" class="input-form" type="password">
                <span asp-validation-for="oldPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="label-form" style="font-weight:bold">Mật khẩu mới</label>
            </div>
            <div class="col-md-8">
                <input asp-for="newPassword" class="input-form" type="password">
                <span asp-validation-for="newPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="label-form" style="font-weight:bold">Xác nhận mật khẩu mới</label>
            </div>
            <div class="col-md-8">
                <input asp-for="ConfirmPassword" class="input-form" type="password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <br />
        <span class="text-danger" style="color: red">@Html.ValidationMessage("ChangePassword")</span>
        <br />
        <div class="row">
            <input class="submit-form" type="submit" value="Xác nhận">
        </div>
    </form>
    <div class="back">
        <a class="button-edit" asp-action="Index">Trở về</a>
    </div>
</div>
