@model Webtt.Models.User
@{ ViewData["Title"] = "Xóa tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }
<div class="container">
    <h1 class="add">Xóa tài khoản</h1>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-md-4">
                <label class="label-form" style="font-weight:bold">Tên</label>
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(model => model.FullName)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Email" class="label-form" style="font-weight:bold"></label>
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(model => model.Email)
            </div>
        </div>
        <br />
        <div class="row">
            <input class="submit-form" type="submit" value="Xóa">
        </div>
    </form>
    <div class="back">
        <a class="button-delete" asp-action="Index">Trở về</a>
    </div>
</div>

