@{
    ViewData["Title"] = "Giới thiệu";
}
<contents>
    <div class="w-clear wikis">
        <div class="w-clear">
            <div class="w-clear">
                <div class="main-tit">
                    <h2 class="name">Giới thiệu</h2>
                </div>
            </div>
        </div>
        <div class="w-clear box-share">
            <div style="line-height: 28px; color: rgb(92, 92, 92);" class="addthis_native_toolbox">
                <p><span style="font-size:18px; color: rgb(68, 68, 230) ;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CTY TNHH SX & TM DỤNG CỤ Y TẾ SÀI GÒN </strong></span></p>
                <br> <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Công ty TNHH SX & TM Dụng Cụ Y Tế Sài Gòn</b>  là một công ty thương mại với chức năng chính là kinh doanh trang thiết bị y tế, thiết bị khoa học kỹ thuật, cung cấp hoá chất, vật t­ư tiêu hao dùng trong y tế, cung cấp dịch vụ sửa chữa bảo hành, bảo trì cho máy móc thiết bị tại các Bệnh viện, Trung tâm y tế.
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Với đội ngũ nhân viên giàu kinh nghiệm, nhiệt huyết và năng lực vượt trội, công ty chúng tôi luôn là Công ty cung cấp dịch vụ hàng đầu tại Việt Nam cho các bệnh viện,phòng khám,Phòng thí nghiệm. . . . Với kinh nghiệm hoạt động dịch vụ thương mại lâu năm, chúng tôi luôn sẵn sàng đáp ứng đầy đủ các yêu cầu của Quý khách với chất lượng hàng hoá và dịch vụ hoàn hảo.
                <br><span style="color: rgb(68, 68, 230);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chúng tôi mong muốn nhận được sự hợp tác với các công ty sản xuất và phân phối các sản phẩm về hóa chất, vật tư y tế tiêu hao, thiết bị y tế gia đình, các đơn vị y tế trên toàn quốc.</span>
                <div class="w-clear">
                    <p><span style="font-size:18px;"><strong>CTY TNHH SX & TM DỤNG CỤ Y TẾ SÀI GÒN </strong></span></p>
                    <p><span style="font-size:14px;"><strong>Địa chỉ:</strong> </span>849 Nguyễn Kiệm - P.3 -<span style="font-size:14px;"> Q.Gò Vấp - TP.HCM</span></p>
                    <p><span style="font-size:14px;"><strong>Hotline:</strong> 091 528 2266 - </span>093 885 2120 </p>
                    <p><strong style="font-size: 14px;">Email:</strong><span style="font-size: 14px;"> </span>dungcuytesaigon2402@gmail.com</p>
                    <p><span style="font-size:14px;"><strong>Website:</strong> www.dungcuytesaigon.com</span></p>
                    <p><span style="font-size:14px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="font-size: 14px;">www.dungcuykhoasaigon.com</span></p>
                    <p><span style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; www.dungcuthammysaigon.com</span></p>
                    <p><span style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; www.thietbiykhoasaigon.com</span></p>
                    <p><span style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; www.thietbiytesaigon.com.vn</span></p>
                </div>
            </div>
        </div>
    </div>
</contents>
